<html>

<head><title>Test 3</title></head>

<body>

<p>Add New Member</p>

<form method="post" action="/addMember">

Member ID: <input type="text" name="memId" />
<br> 
Email: <input type="text" name="email" />
<br> 
Certificate: <input type="file" name="certificate" />
<br>
<button type="submit">Add Employee</button>
</form>
</body>
</html>